.imagem2{

    background-image: url(https://res.cloudinary.com/teepublic/image/private/s--u-5WPePf--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1471976789/production/designs/647442_1.jpg);
    background-repeat:'no-repeat';
     width:100vh;
     min-height:100vh;
     background-size:cover;
     background-position:center;
}
.textos2{
    font-weight: bold !important;
}
.btnCancelar{
    margin-right: 20px !important;

}